.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;

  min-width: 250px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.5s ease-out;
  transition: opacity 0.3s ease;
}

.fadeOut {
  opacity: 0;
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
}

.toast-success {
  border-color: rgba(40, 167, 69, 0.5);
  background-color: rgba(40, 167, 69, 0.2);
  color: rgb(40, 167, 69);
}
.toast-warning {
  border-color: rgba(255, 193, 7, 0.5);
  background-color: rgba(255, 193, 7, 0.15);
  color: rgb(180, 130, 0);
}

.toast-error {
  border-color: rgba(220, 53, 69, 0.5);
  background-color: rgba(220, 53, 69, 0.15);
  color: rgb(220, 53, 69);
}
.closeBtn {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  font-size: 16px;
  margin-left: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
